@(user: Option[controllers.model.User], activeNavbarSection: Option[controllers.model.NavBarSection] = None)

@import views.html.helper._

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="@routes.ScodexController.index()"
         class="navbar-brand">
        <i class="fa fa-institution"></i>
        scodex
      </a>
    </div>


    @if(user.isDefined) {
      @user_menu(user.get, activeNavbarSection)
    } else {
      @anon_menu(activeNavbarSection)
    }
  </div>
</nav>
